<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <!-- 下3行がフォント関係　googlefont→ get embed code →html-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap"
      rel="stylesheet"
    />
    <!-- いいねボタン　♡ -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>大喜利SNS</title>
  </head>
  <body>
    <h1>大喜利SNS</h1>

    <h2>最近何があった？</h2>
    <form id="postForm">
      <textarea id="postText" placeholder="おもろいこと書いて"></textarea>
      <button class="post_btn" type="submit">投稿する</button>
    </form>

    <h2>投稿一覧</h2>
    <div id="postlist"></div>

    <h2>大喜利回答</h2>
    <div>
      <button onclick="loadAllReplies('newest')">新しい順</button>
      <button onclick="loadAllReplies('most-voted')">ランキング</button>
    </div>
    <div id="replies"></div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
